.signin-section {
  min-height: 100vh;
  background: linear-gradient(to bottom right, #dbeafe, #f0f9ff);
  padding-top: 80px;
}

.signin-card {
  width: 100%;
  max-width: 550px;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 1rem;
  backdrop-filter: blur(12px);
  padding: 2rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  text-align: center;
  min-height: 500px;
  margin-bottom: 45px;
}


.input-left-align {
  text-align: left !important;  /* Ensure text starts at left */
  padding-left: 5px !important; /* Reduce padding to push text left */
}
