* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: #fff; /* Ensure the background is applied */
}

.feedback-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Makes it take the full viewport height */
    width: 100vw; /* Ensures full width */
    background-color: #f0f0f0; /* Optional: adjust the background color */
}

/* Profile container: center align and full width */
.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/* Profile icon */
.profile-icon {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

/* User ID text */
.profile-user {
    font-size: 24px;
    color: #333;
    font-weight: bold;
}

/* "Let's Chat!" button */
.chat-button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #3697aa;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

/* .chat-window {
  width: 100% !important;
  height: 100% !important;
  border-radius: 0px !important;
  max-width: 10000px !important;
}

.chat-left {
  width: 30% !important;
}

.chat-right {
  width: 70% !important;
}

.animation-container {
  margin-right: 33% ! important;
} */

.chat-button:hover {
    background: linear-gradient(45deg, #008abf, #00c78c);
}
